<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connDB" connectionString="Data Source=DESKTOP-ALEXLAP\SQLEXPRESS;Initial Catalog=RentCar;User ID=Alexander;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="RentCar_Proyect_.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-ALEXLAP\SQLEXPRESS;Initial Catalog=RentCar;User ID=Alexander;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>